{% extends 'layouts/master.html' %}

{% block title %}
Pinterest
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/pin.css">
{% endblock %}

{% block body %}
<div class="single-pin">
  <img class="single-pin-image" src="/images/uploads/{{pin.image}}" alt="pin">

  <div class="single-pin-info">
    <a href="/{{pin.author.username}}"><img src="{{pin.author.image}}" alt="author"></a>
    <div class="author-info">
      <a href="/{{pin.author.username}}">{{pin.author.username}}</a>
      <span>{{createdAt}}</span>
    </div>

    {% if ownPost %}
    <div class="edit-delete">
      <button id="edit-pin-btn">edit</button>
      <button id="delete-pin-btn">delete</button>
    </div>
    {% endif %}
  </div>

  <hr>

  <p>{{pin.body}}</p>

  <hr>

  {% if pin.allowComments %}
    {% if user %}
    <h2>Write a Comment</h2>
    <form class="form" action="/pin/comment/{{pin.id}}" method="POST">
      <textarea name="commentBody" rows="8" cols="80"></textarea>
      <button type="submit">Add Comment</button>
    </form>
    {% else %}
    <h2>Log in to write a comment</h2>
    {% endif %}

    {% if pin.comments %}
      <div class="comment-section">
      {% for comment in pin.comments %}

        <img src="{{comment.commentAuthor.image}}" alt="">
        <h2>{{comment.commentBody}}</h2>
        <h3>{{comment.commentDate}}</h3>
        <hr>

      {% else %}
      NO COMMENT Xd
      {% endfor %}
      </div>
    {% endif %}

  {% endif %}
</div>

<!-- test -->
{% if 3 === 3 %}
TRUE 333
{% endif %}

{% if pin._id %}
{{pin._id}}
{% endif %}

{% if pin.author._id %}
{{pin._id}}
{% endif %}

<br>

{% if user %}
  {% if user._id === pin.author._id %}
  YESSSSSSSSSSSSSSSSSSS
  {% endif %}
{% endif %}

<!-- Edit Pin Modal -->
<div class="modal" id="edit-pin-modal">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="modal-content col-md-6">

        <div class="modal-header">
          <h2>Edit Pin</h2>
          <span class="modal-close" id="close-edit-pin">&times;</span>
        </div>
        <hr>
        <div class="modal-body">

          <form class="form" id="edit-form" action="/pin/edit/{{pin._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <textarea name="body" rows="8" cols="80">{{pin.body}}</textarea>
            <hr>
            Allow Comments?
            <input type="checkbox" name="allowComments" checked>
            <hr>
            <select name="status">
              <option value="private">Private</option>
              <option value="public" selected>Public</option>
            </select>
            <hr>
            <button type="submit" name="submit">Update</button>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- Delete Pin Modal -->
<div class="modal" id="delete-pin-modal">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="modal-content col-md-6">

        <div class="modal-header">
          <h2>Delete Pin</h2>
          <span class="modal-close" id="close-delete-pin">&times;</span>
        </div>
        <hr>
        <div class="modal-body">

          <form class="form" id="edit-form" action="/pin/delete/{{pin._id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" name="submit">Delete</button>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>

{% if ownPost %}
<!-- Modals Script -->
<script src="/js/edit_delete_modals.js"></script>
{% endif %}

{% endblock %}
